{{ if isset .Site.Params "communities" }}
{{ if .Site.Params.communities.enable }}
{{ if gt (len .Site.Data.communities) 0 }}
<section class="bar background-white no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2 style="color:#203468">{{ .Site.Params.communities.title }}</h2>
                </div>

                <!-- <p class="lead">
                  {{ .Site.Params.communities.subtitle | markdownify }}
                </p> -->

                <!-- *** TESTIMONIALS CAROUSEL *** -->

                <ul class="owl-carousel communities same-height-row">
                    {{ range .Site.Data.communities }}
                    <li class="item">
                        <div class="community same-height-always">
                            <div class="text">
                                <p>{{ .text | markdownify }}</p>
                            </div>
                            <div class="bottom">
                                <div class="icon"><i class="fa fa-quote-left"></i>
                                </div>
                                <div class="name-picture">
                                    <!--<img class="" alt="" src="{{ .avatar | absURL }}">-->
                                    <h5>{{ .name }}</h5>
                                    <p>{{ .position }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ul>
                <!-- /.owl-carousel -->

                <!-- *** TESTIMONIALS CAROUSEL END *** -->
            </div>

        </div>
    </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
